{% extends 'login/base.html' %}
{% load socialaccount %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>Game Setup</title>
</head>
{% if messages %}
    <div style="position: absolute; top: 10px; right: 10px; z-index: 1000;">
        {% for message in messages %}
            <div class="toast" role="alert" data-delay="5000">
                <div class="toast-header">
                    <strong class="mr-auto">Notification</strong>
                    <button type="button" style="position: absolute; top: 10px; right: 15px" class="btn-close" data-dismiss="toast">
                    </button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<body>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card w-100">
            <div class="card-header d-flex align-items-center justify-content-between">
                <a href="{% url 'homepage' %}" class="btn btn-secondary">Back</a>
                <h2 class="mb-0">Add Question</h2>
                <div></div>
            </div>
            <div class="card-body">
    
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="{% url 'add_questions' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="cat" class="form-label">Select Category</label>
                    <select class="form-select" id="cat" name = 'cat'>
                        <option selected>Choose...</option>
                        {% for cat in categories %}
                        <option value="{{ cat.category_text }}">{{ cat.category_text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="question_name">Question Name</label>
                    <input type="text" name="question_text" class="form-control" id="question_name" required>
                </div>
                <div class="form-group mb-3">
                    <label for="answer_text">Answer Text</label>
                    <input type="text" name="answer_text" class="form-control" id="answer_text" required>
                </div>
                <div class="form-group mb-3">
                    <label for="hint">Hint</label>
                    <input type="text" name="hint" class="form-control" id="hint" required>
                </div>
                <input type="hidden" name="max_lat" id="max_lat" required>
                <input type="hidden" name="min_lat" id="min_lat" required>
                <input type="hidden" name="max_long" id="max_long" required>
                <input type="hidden" name="min_long" id="min_long" required>

                <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn game-button" id="submitQuestionButton" disabled>Submit Question</button>
                </div>
            </form>
        </div>
        <!-- Right Column for Map -->
        <div class="col-md-6">
            <label>Drop a Marker on Where The Answer is:</label>
            <div id="map" style="width:100%;height:600px;"></div>
            <p id="mapInstruction" class="text-danger">Please drop a pin on the map to enable the submission.</p>
        </div>
    </div>
</div>
</div>
</div>


  <script>
    let map, marker, bounds;
  
    function myMap() {
      var mapProp= {
        center:new google.maps.LatLng(38.033554, -78.507980),
        zoom:14,
      };
      map = new google.maps.Map(document.getElementById("map"),mapProp);
  
      google.maps.event.addListener(map, 'click', function(event) {
          placeMarker(event.latLng);
          calculateBounds(event.latLng);
          enableSubmitButton(); 
        });
      }
      function placeMarker(location) {
        if (marker) {
          marker.setPosition(location);
        } else {
          marker = new google.maps.Marker({
            position: location,
            map: map
          });
        }
      }
  
      function calculateBounds(location) {
        const lat = location.lat();
        const lng = location.lng();
        const percent = 0.000075; 
  
        const maxLat = lat + (lat * percent);
        const minLat = lat - (lat * percent);
        const maxLng = lng + (lng * percent);
        const minLng = lng - (lng * percent);

        document.getElementById('max_lat').value = maxLat.toFixed(6);
        document.getElementById('min_lat').value = minLat.toFixed(6);
        document.getElementById('max_long').value = maxLng.toFixed(6);
        document.getElementById('min_long').value = minLng.toFixed(6);
      }
    function showLocation(){
      return marker.getPosition().toString()
    }
    function enableSubmitButton() {
      document.getElementById('submitQuestionButton').disabled = false;
      document.getElementById('mapInstruction').style.display = 'none'; 
    }
  
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtuI9vercCBQdDFoZY-d0CfDSu9tdBq04&callback=myMap"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var toasts = document.querySelectorAll('.toast');
        for (var i = 0; i < toasts.length; i++) {
            var toast = new bootstrap.Toast(toasts[i]);
            toast.show();
        }
    });
  </script>  
</body>
</html>
{% endblock %}
